# Data Analysis with SQL

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3
import pandas as pd

In [3]:
%sql sqlite:///my_data1.db

In [4]:
con = sqlite3.connect("my_data1.db")
cur = con.cursor()
df = pd.read_csv("Data_SpaceX_WebScrapped.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

114

In [5]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [6]:
%sql select * from SPACEXTABLE limit 4

 * sqlite:///my_data1.db
Done.

[('CCAFS', 'Dragon', 525, 'LEO', 'NASA', 'Success', 'F9 v1.0B0005.1', 'No attempt', '2012-05-22', '07:44:00'),
 ('CCAFS', 'SpaceX CRS-1', 4700, 'LEO', 'NASA', 'Success', 'F9 v1.0B0006.1', 'No attempt', '2012-10-08', '00:35:00'),
 ('CCAFS', 'SpaceX CRS-2', 4877, 'LEO', 'NASA', 'Success', 'F9 v1.0B0007.1', 'No attempt', '2013-03-01', '15:10:00'),
 ('VAFB', 'CASSIOPE', 500, 'Polar orbit', 'MDA', 'Success', 'F9 v1.1B1003', 'Uncontrolled', '2013-09-29', '16:00:00')]

In [7]:
%sql select distinct [Launch site] from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS',), ('VAFB',), ('Cape Canaveral',), ('KSC',), ('CCSFS',)]

In [8]:
%sql select * from SPACEXTABLE where [Launch site] like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('CCAFS', 'Dragon', 525, 'LEO', 'NASA', 'Success', 'F9 v1.0B0005.1', 'No attempt', '2012-05-22', '07:44:00'),
 ('CCAFS', 'SpaceX CRS-1', 4700, 'LEO', 'NASA', 'Success', 'F9 v1.0B0006.1', 'No attempt', '2012-10-08', '00:35:00'),
 ('CCAFS', 'SpaceX CRS-2', 4877, 'LEO', 'NASA', 'Success', 'F9 v1.0B0007.1', 'No attempt', '2013-03-01', '15:10:00'),
 ('CCAFS', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'F9 v1.1', 'No attempt', '2013-12-03', '22:41:00'),
 ('CCAFS', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'F9 v1.1', 'No attempt', '2014-01-06', '22:06:00')]

In [9]:
%sql select sum([Payload mass]) from SPACEXTABLE where Customer = 'NASA'

 * sqlite:///my_data1.db
Done.

[(124708,)]

In [10]:
%sql select avg([Payload mass]) from SPACEXTABLE where [Version Booster]= 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2524.076923076923,)]

In [11]:
%sql select min(Date) from SPACEXTABLE where [Booster landing] = 'Success'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

In [12]:
%sql select distinct [Version Booster] from SPACEXTABLE where [Booster landing] = 'Success' and [Payload mass] between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT',),
 ('F9 B4',),
 ('F9 FTB1031.2',),
 ('F9 B5B1046.2',),
 ('F9 B5B1047.2',),
 ('F9 B5B1046.3',),
 ('F9 B5B1048.3',),
 ('F9 B5B1051.2',),
 ('F9 B5',),
 ('F9 B5B1058.2',)]

In [13]:
%sql select [Launch outcome],count([Launch outcome]) from SPACEXTABLE group by [Launch outcome]

 * sqlite:///my_data1.db
Done.

[('Failure', 1), ('Success', 113)]